In [38]:
import json
file_path = "../data/1017data/hotpot_train.json"
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)

In [39]:
import random
random.seed(42)

random.shuffle(data)

In [42]:
from tqdm import tqdm
for d in tqdm(data):
    if len(d["sent"]) >= 60:
        data.remove(d)

 92%|█████████▏| 74611/81388 [01:52<00:10, 666.07it/s]

In [43]:
len(data)

74611

In [44]:
import copy
data_2 = copy.deepcopy(data[:15000])

In [45]:
all_result = []
quetion_list = []
for d in data[:15000]:
    quetion_list.append(d["question"])
    d["answer_type"] = "T"
    d["mrc_type"] = "T"
    d["sum_type"] = "F"
    all_result.append(d)

In [46]:
for d in data_2[:5000]:
    d["answer_type"] = "F"
    d["mrc_type"] = "F"
    d["sum_type"] = "F"
    d["_id"] = d["_id"] + "_q_ff"
    all_result.append(d)

In [47]:
for d in data_2[5000:10000]:
    d["answer_type"] = "F"
    d["mrc_type"] = "F"
    d["sum_type"] = "F"
    d["question"] = "no"
    d["_id"] = d["_id"] + "_no_q_ff"
    all_result.append(d)

In [48]:
for d in data_2[10000:15000]:
    d["answer_type"] = "F"
    d["mrc_type"] = "T"
    d["sum_type"] = "F"
    d["question"] = "no"
    d["_id"] = d["_id"] + "_no_q_tf"
    all_result.append(d)

In [49]:
file_path = "../data/1020data/hotpot_f.json"
with open(file_path, 'w', encoding='utf-8') as f:
    json.dump(all_result, f, ensure_ascii=False, indent=4)

In [11]:
quetion_list[0]

'Who was the body double for Emilia Clarke playing Daenerys Targaryen in Game of Thrones?'

In [56]:
import json
file_path = "../data/1017data/multi_news_train.json"
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)

In [57]:
random.seed(42)

random.shuffle(data)

In [58]:
from tqdm import tqdm
for d in tqdm(data):
    if len(d["sent"]) >= 60:
        data.remove(d)

  0%|          | 0/44972 [00:00<?, ?it/s]

 72%|███████▏  | 32344/44972 [00:19<00:07, 1619.96it/s]

In [59]:
len(data)

32344

In [60]:
all_result = []

In [61]:
import copy
data_2 = copy.deepcopy(data[:15000])

In [62]:
for d in data[:15000]:
    d["answer_type"] = "T"
    d["mrc_type"] = "F"
    d["sum_type"] = "T"
    all_result.append(d)

In [63]:
for d in data_2[:5000]:
    d["answer_type"] = "F"
    d["mrc_type"] = "F"
    d["sum_type"] = "F"
    d["_id"] = str(d["_id"]) + "_ff"
    all_result.append(d)

In [64]:
for i, d in enumerate(data_2[5000:10000]):
    d["answer_type"] = "T"
    d["mrc_type"] = "F"
    d["sum_type"] = "T"
    d["question"] = quetion_list[i]
    d["_id"] = str(d["_id"]) + "_ft"
    all_result.append(d)

In [65]:
for d in data_2[10000:15000]:
    d["answer_type"] = "T"
    d["mrc_type"] = "T"
    d["sum_type"] = "T"
    d["_id"] = str(d["_id"]) + "_tt"
    all_result.append(d)

In [66]:
len(all_result)

30000

In [67]:
file_path = "../data/1020data/multi_news_f.json"
with open(file_path, 'w', encoding='utf-8') as f:
    json.dump(all_result, f, ensure_ascii=False, indent=4)

In [68]:
import json
import random
file_path = "../data/1017data/wikisum_train.json"
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)

In [69]:
random.seed(42)

random.shuffle(data)

In [70]:
from tqdm import tqdm
for d in tqdm(data):
    if len(d["sent"]) >= 60:
        data.remove(d)

 56%|█████▌    | 19938/35775 [00:47<00:37, 423.06it/s]

In [71]:
len(data)

19938

In [72]:
import copy
data_2 = copy.deepcopy(data[:15000])

In [73]:
all_result = []
for d in data[:15000]:
    d["answer_type"] = "T"
    d["mrc_type"] = "F"
    d["sum_type"] = "T"
    all_result.append(d)

In [74]:
for d in data_2[:5000]:
    d["answer_type"] = "F"
    d["mrc_type"] = "F"
    d["sum_type"] = "F"
    d["_id"] = str(d["_id"]) + "_ff"
    all_result.append(d)

In [75]:
len(all_result)

20000

In [76]:
for i, d in enumerate(data_2[5000:10000]):
    d["answer_type"] = "T"
    d["mrc_type"] = "F"
    d["sum_type"] = "T"
    d["question"] = quetion_list[i]
    d["_id"] = str(d["_id"]) + "_ft"
    all_result.append(d)

In [77]:
for d in data_2[10000:15000]:
    d["answer_type"] = "T"
    d["mrc_type"] = "T"
    d["sum_type"] = "T"
    d["_id"] = str(d["_id"]) + "_tt"
    all_result.append(d)

In [78]:
file_path = "../data/1020data/wiki_sum_f.json"
with open(file_path, 'w', encoding='utf-8') as f:
    json.dump(all_result, f, ensure_ascii=False, indent=4)

In [79]:
import json
all_result = []
file_path = "../data/1020data/hotpot_f.json"
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)

In [80]:
for d in data:
    d["data_type"] = "answer"
    d["_id"] = str(d["_id"])
    all_result.append(d)

In [81]:
file_path = "../data/1020data/multi_news_f.json"
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)
for d in data:
    d["data_type"] = "summary"
    d["_id"] = str(d["_id"])
    all_result.append(d)

In [82]:
file_path = "../data/1020data/wiki_sum_f.json"
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)
for d in data:
    d["data_type"] = "summary"
    d["_id"] = str(d["_id"])
    all_result.append(d)

In [83]:
import random
random.seed(100)

random.shuffle(all_result)

In [84]:
with open("../data/1020data/train_data_1022.json", 'w', encoding='utf-8') as f:
    json.dump(all_result, f, ensure_ascii=False, indent=4)

In [85]:
len(all_result)

90000